JWT_SECRET=''
JWT_ACCESS_TOKEN_EXPIRE_TIME="1h"
JWT_REFRESH_TOKEN_EXPIRE_TIME="14d"
INV_EXP_DAYS=30
JWT_INV_EXP_DAYS="30d"
PORT=3000
HOST="0.0.0.0"
APP_URL="http://localhost:3000"
MONGO_URI=''
SERVICE_EMAIL=''
SERVICE_EMAIL_PASSWORD=''
